<!DOCTYPE html>
<html>

<head>
  <title>Management</title>
  <!-- needed for adaptive design -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--
    ReDoc doesn't change outer page styles
    -->
  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <h1><%= 'Welcome' %>: <%= axel.config.appName || axel.config.app %></h1>

    <% if (axel.config.plugins && axel.config.plugins.admin && axel.config.plugins.admin.enabled && process.env.NODE_ENV === 'development' ) { %>
    <a href="/admin-panel">Admin panel</a>
    <% } %>
  </div>
  <!-- End of Page Wrapper -->

</body>

</html>