<!DOCTYPE html>
<html>

<head>
  <title>Axel Management</title>
  <!-- needed for adaptive design -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--
    ReDoc doesn't change outer page styles
    -->
  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <h1><%= 'Welcome' %></h1>

  </div>
  <!-- End of Page Wrapper -->

</body>

</html>