/* eslint-disable */


module.exports = {
  port: process.env.PORT || 1337,
  environment: process.env.NODE_ENV || 'development',
  env: 'LOCAL',
  app: 'app_local',

  websiteUrl: 'http://localhost:3500',
  appUrl: 'http://localhost:3400',
  cdnUrl: 'http://localhost:3400',
  redis: {},
  session: {},
  datastores: {
    mysql: {
      user: 'root',
      password: '',
      host: 'localhost',
      database: 'app_database_env',
      port: 3306,
      dialect: 'mysql',
      options: {
        dialect: 'mysql',
        logging: true,
      }
    }
    // elasticsearch: 'localhost:9200',
  },

  mail: {
    transport: 'sendgrid', // aws | gmail | sendgrid | smtp
    protocol: 'SMTP',
    options: {
      host: '127.0.0.1',
      port: 25
    },
    from: 'hello@applocal.com'
  },
  sendgrid: {
    auth: {
      api_key: ''
    }
  },
  slack: {
    webhook: '',
    channel: '#app_dev'
  },
  tokenSecret: '',
  google: {
    clientId: '',
    clientSecret: '',
    redirectUrl: '',
  },
  facebook: {
    clientId: '',
    clientSecret: '',
    redirectUrl: '',
    graphApiUrl: ''
  }
};


